<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="product-details">
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="{{imgUrl}}" alt="product" />
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <h2>{{name}} - {{company}}</h2>
                            <p>Web ID: {{_id}}</p>
                            {{!-- <img src="images/product-details/rating.png" alt="" />  rating system --}}
                            <button type="button" class="btn btn-fefault cart" id="cart">
                                <i class="fa fa-shopping-cart"></i> View on Amazon
                            </button>
                            <a class="hidden" href="" {{amazonUrl}} id="amazonLink"></a>
                            <p></p>
                            <p><b>Rating:&nbsp;</b>{{rating}}</p>
                            <p></p>
                            <p>Share this product:</p>
                            <br><a target="_blank" id="fbshareLink" href="#"><img
                                    src="https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/zSKZHMh8mXU.png"
                                    alt="fb">&nbsp;&nbsp;Share</a></br>
                            <br><a class="twitter-share-button" href="#" id="twshareLink">Tweet</a></br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="info-tab">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li><a href="#details" data-toggle="tab" class="active show">Details</a></li>
                        <li><a href="#tag" data-toggle="tab">Tag</a></li>
                        <li><a href="#reviews" data-toggle="tab">Reviews ({{reviewLength}})</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show in" id="details">
                            <h2>Product Details</h2>
                            <p class="productInfo">
                                {{perfumeDetails}}
                            </p>
                        </div>
                        <div class="tab-pane fade in" id="tag">
                            <h2>Tags</h2>
                            {{#each perfumeTags}}
                            <a href="/perfume/tag/{{this}}">{{this}}</a>
                            {{/each}}
                        </div>
                        <div class="tab-pane fade in" id="reviews">
                            {{#if userReview.reviewId}}
                            {{!-- <h2>Your Review</h2>
                            <div class="col-sm-12 userReviews" id="{{userReview.reviewId}}">
                                <p class="reviewContent"><b>Review Content:&nbsp;</b>{{userReview.reviewContent}}</p>
                                <p class="reviewRating"><b>Rating:&nbsp;</b>{{userReview.reviewRating}}</p>
                                <p class="reviewLikes"><b>Likes:&nbsp;</b>{{userReview.likes}}</p>
                                <p class="reviewDislikes"><b>Dislikes:&nbsp;</b>{{userReview.dislikes}}</p>
                                <form class="perfumeReviewForm hide">
                                    <textarea class="txtArea"></textarea>
                                    <b>Rating: </b> <input class="rating" type="number" />
                                    <button>Submit</button>
                                </form>
                                <p><a class="modifyHref changeReview" href="#">Edit</a></p>
                                <p><a class="modifyHref deleteReview" href="#">Delete</a></p>
                                <p><a class="modifyHref reviewCancel hide" href="#">Cancel</a></p>
                            </div> --}}
                            {{else}}
                            <h2>Write Your Review</h2>
                            {{#if authenticated}}
                            <form class="" action="/perfume/comment/:perfumeId" method="post">
                                <textarea id="userReview"></textarea>
                                <b>Rating: </b> <input type="number" id="rate" placeholder="From 1 to 5">
                                <button type="submit" class="btn btn-default pull-right">
                                    Submit
                                </button>
                            </form>
                            {{else}}
                            <p><b>You have to login to write a review!&nbsp;&nbsp;</b><a href="/users/"><i
                                        class="fa fa-lock"></i>
                                    Login</a></p>
                            {{/if}}
                            {{/if}}
                            <h2>Reviews</h2>                            
                            {{#if perfumeReviews}}                            
                            {{#each perfumeReviews}}                            
                            <div class="col-sm-12 userReviews">                                
                            <p><b>User Name:&nbsp;</b>{{userName}}</p >                                
                            <p><b>Review Content:&nbsp;</b>{{content}}</p >                                
                            <p><b>Likes:&nbsp;</b>{{likes}}</p >                                
                            <p><b>Dislikes:&nbsp;</b>{{dislikes}}</p >                            
                            </div>                            
                            {{/each}}                            
                            {{else}}                            
                            <p>No one leaves review yet.</p >                            
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>