  
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Hello user {{userName}}</h2>
            </div>
            <div class="col-sm-12">
                <h3>You can manage your account here:</h3>
                <p id="userNameP">User Name:&nbsp;<ptag>{{userName}}</ptag>&nbsp;&nbsp;</p>
                <p id="emailAddressP">Email Address:&nbsp;<ptag>{{emailAddress}}</ptag>&nbsp;&nbsp;<a class="modifyHref"
                        id="changeEmailAddress" href="#">Change</a><a id="emailAddressCancel" class="modifyHref hide"
                        href="#">Cancel</a></p>
                <form id="emailAddressForm" class="hide">
                    <input type="email" id="emailAddress" placeholder="New EmailAddress" />
                    <button>Submit</button>
                </form>

                <p id="genderP">Gender:&nbsp;<ptag>{{Gender}}</ptag>&nbsp;&nbsp;<a class="modifyHref"
                        id="changeGender" href="#">Change</a><a id="genderCancel" class="modifyHref hide"
                        href="#">Cancel</a></p>
                <form id="genderForm" class="hide">
                    <input type="text" id="gender" placeholder="New Gender" />
                    <button>Submit</button>
                </form>

                <p id="ageP">Age:&nbsp;<ptag>{{Age}}</ptag>&nbsp;&nbsp;<a class="modifyHref"
                        id="changeAge" href="#">Change</a><a id="ageCancel" class="modifyHref hide"
                        href="#">Cancel</a></p>
                <form id="ageForm" class="hide">
                    <input type="text" id="age" placeholder="New Age" />
                    <button>Submit</button>
                </form>

                <p id="passwordP">Password:&nbsp;&nbsp;<a class="modifyHref" id="changePassword" href="#">Change</a><a
                        id="passwordCancel" class="modifyHref hide" href="#">Cancel</a>
                </p>
                <form id="passwordForm" class="hide">
                    <input type="password" id="password" placeholder="New Password" />
                    <button>Submit</button>
                </form>
                {{!-- <p>User Name: {{userName}}
                <p>Email Address:  {{emailAddress}} 
                    <button type="button" onclick="document.getElementById('change1').style.display='block'"> change </button></p>

                <form  id='change1' action="/users/changeEmail" method="post" style="display:none;" >
                    <input id='changeEmail' name='changeEmail' type="email"/>
                    <button type="submit" class="btn btn-default">submit</button>
                </form>

                <p>Gender: {{Gender}}<button type="button" onclick="document.getElementById('change4').style.display='block'"> change </button></p>

                <form  id='change4' action="/users/changeGender" method="post" style="display:none;" >
                    <select name='changeGender' id='changeGender' type='text' placeholder='gender'>
                            <option value='male'>male</option>
                            <option value='female'>female</option>
                    <select>
                    <p></p>
                    <button type="submit" class="btn btn-default">submit</button>
                </form>
                

                <p>Age: {{Age}}<button type="button" onclick="document.getElementById('change3').style.display='block'"> change </button></p>

                <form  id='change3' action="/users/changeAge" method="post" style="display:none;" >
                    <input id='changeAge' name='changeAge' type="text" />
                    <button type="submit" class="btn btn-default">submit</button>
                </form>

                <p>Password:  <button type="button" onclick="document.getElementById('change2').style.display='block'"> change </button></p>

                <form  id='change2' action="/users/changePassword" method="post" style="display:none;" >
                    <input id='changePassword' name='changePassword' type="password"/>
                    <button type="submit" class="btn btn-default">submit</button>
                </form> --}}
            </div>

            <div class="col-sm-12">
                <h3>You can manage your review here:</h3>
                {{#each userReviews}}
                <div class="col-sm-12">
                    <a href="/perfume/{{perfumeId}}"><i class="fa fa-arrow-right"></i>{{perfumeName}}</a>
                    <p>{{reviewContent}}</p>
                    <p><a id="changeReview" herf="">Edit</a></p>
                    <p><a id="deleteReview" herf="">Dekete</a></p>
                </div>
                {{/each}}
            </div>

            <div class="col-sm-12" >
                <h3>You can add your new perfume here:</h3>
                <div class="signup-form">
                    <form action="/perfume/" method="post">
                    please input a perfume name<input id="name" name="name" type="text"  placeholder="perfume name"/>
                    <p></p>
                    please input a company name<input id="companyName" name="companyName" type="text" placeholder="company name"/>
                    <p></p>
                    <textarea id="introduction" name="introduction" type="text" placeholder="please input perfume's introduction"></textarea>
                    <p></p>
                    <button type="submit" class="btn btn-default">create perfume</button>
                    </form>
                
                </div>
            </div>
        </div>
    </div>
</section>
